<div class="title-meta-wrap cf">
    <h1>Mathijs Segers</h1>
</div>
    <img src="http://oneguyandacat.com/img/mathijs.jpg" class="cf" style="max-width:200px; float:right; margin:0 0 20px 20px;" alt="Mathijs Segers, owner of oneguyandacat.com" />
<h2>As developer</h2>
<p>
    I'm Mathijs a mostly-self-thought software developer. 
    At least that's how it started, when I got my first job as developer I learned the basics of OOP, I spend nearly a year before I left to continue with my studies.
    During my studies I made an data-analysis tool for specific software during my internship and continued to work at this company as a while as Android developer, leaning more about embedded software.
    Besides the work and the studies (in which I actually also learned lots of different languages besides the main programme) I've always liked spending some of my time experimenting with new technologies.
    Note, that new does not mean it has to be bleeding edge, I meant things which are new to me. Below Is a list of some of the thing's I feel confident about.
</p>
<h3>Java 2+ Years</h3>
<p>
    PHP is the language I've spend most time working in, especially because it was my goto language to start learning with.
    However I do feel more confident when I spend time working in Java, the language is strong robust and used for many different solutions. 
    From small devices to phones, websites and even helps <a href="https://jaxenter.com/developing-nasas-mission-software-with-java-108114.html">space missions</a>. 
    I've written my first lines of Java developing Android apps. 
    Besides that, I had the honor of filling up my bachelor's Minor learning Java-EE taught by Consultants from Info-Support. 
    Besides the basics of Java + Java Enterprise Edition and it's usages there were more things on the agenda. 
    During this period we worked constantly in Scrum and developed every function making use of TDD. 
    They explained the theory of Software Craftmanship and to make us remember had us take the "The Clean Coder" and "Clean Code" books by Uncle Bob.<br><br>
    Thanks again if you end up reading this, I learned loads.
</p>
<h3>Front-End Development (HTML, CSS) 10+ Years</h3>
<p>
    Adding these in the same block, If you can write HTML but don't know what CSS is about there might be something wrong with you ;-). 
    I started my mastering of software development by making simple websites in HTML, and soon applied CSS. 
    This started as a hobby, and made many never released or finished websites with information about hobbies and games I played.
    Over the years I never stopped learning new technologies, this includes "new" standards, like CSS3 and HTML5.
    I feel rather confident writing HTML and CSS and barely ever have to go to my friend <a href="https://stackoverflow.com">Stackoverflow</a>.
</p>
<h3>Javascript 8+ Years</h3>
<p>
    As many developers I met back in the day I started working, I used to hate Javascript, I felt it wasn't stable and might crash on different browsers, also there were loads of people disabling this in browsers.
    I ended up doing lots of work in libraries like ExtJs (Sencha) and started to feel more confident and attached to the language.
    Nowadays I tend to keep up to date about the development, that's why this website is written in Angular2 using TypeScript, 
    a nicely typed language which at this time is being converted to regular Javascript using Traceur.<br>
    Libraries I spend time developing in: <a href="http://prototypejs.org/">Prototype</a>, <a href="query.com">Jquery</a>, <a href="https://www.sencha.com/products/extjs/">ExtJs</a>, <a href="https://angularjs.org/">AngularJS</a>, <a href="https://angular.io">AngularJS 2</a>. 
    Besides these libraries I also worked a little with command line tools, like <a href="https://nodejs.org/">NodeJS</a>, <a href="http://gruntjs.com/">Grunt</a>, <a href="http://gulpjs.com/">Gulp</a>, <a href="http://bower.io/">Bower</a> etc.
</p>
<h3>Objective-C and Swift &lt;1 Year</h3>
<p>
    I'm not a big fan of Objective-C but I love Swift, however for getting around in iOS development you need basic knowledge of the language and API's it offers.
    During my graduation I had no help from other people with experience in these languages, so after some time working with Objective-C I did a small test how hard it would be to change the current code to swift.
    Without knowledge I wrote the 4 classes I had into swift within a few hours, and kept these like that. 
    I love the Swiftness of development and forced type safety Swift enforces on the developer and working with the language felt like writing code in Google Go
</p>
<h3>Google Go (Home Experiments only)</h3>
<p>
    When I first head of Google Go I had no idea what it was like, after a few months I started toying around with it since I needed to know! (I'm a huge Google Fanboy).
    I was especially amazed by how little code you had to write to run a webserver, or handling concurrency by simply writing "go" in front of a function.
    I experimented a little with Go, and actually have a program which would work as host for a blogging site which I want to get out there soon.
    A while back I applied for a Job which actually would allow me to become a Go Developer, 
    but I ended up rejecting since I would mostly be doing Front-End stuff which was not worth the risk and travel. 
    The program I wrote as a test however, is available on my <a href="https://github.com/msegers/go-read-a-book">Github Page</a> and I feel happy sharing it with others.
</p>
<h3>More?</h3>
<p>
    For other skills I feel like I know something about, 
    You could check out my <a href="https://nl.linkedin.com/in/oneguyandacat">Linkedin</a> where I tend to keep track of my skills. 
    Some of these might seem unimportant for me to mention, however it might be that someone else likes to read about them.
</p>
<h2>As Person</h2>
<p>
    I like to see myself as a Social and outgoing person, 
    I tend to try and keep most of my team members smiling as we go but I could learn to give better commitments on deadlines avoiding dissapointment.
    I love learning new things and feel like I can do this in a rapid pace, and improving my skills in the stuff I know about and keeping up to date with developments. 
    I can be quite easy to distract and I prefer to do things Ad-Hoc instead of planned out before me a little chaos can be found in most things I say and write but I try to make things clear.
    Because of my planning skills I like working in a Scrum based environment, 
    besides being forced to work on smaller tasks, you plan once and go for the sprint making it easier to keep your planning in order. 
    I prefer working in teams so I can learn from others and hopefully let other people learn from me as well, I get satisfaction out of helping others, but I do not ask for help that quickly.
</p>
<h2>Beside the Professional life</h2>
<p>
    So I've written some parts about how I feel like I cope in a professional environment and what I do to keep up to date at home.
    I do however do other stuff as well!
</p>
<p>
    I do love myself a good glass of beer, this does not mean I get drunk on liters of beer every night but I like to taste different kinds. If you are interested in my latest tastes, you could follow me on <a href="https://untappd.com/user/oneguyandacat">Untappd</a>. Besides drinking beer me and my girlfriend try to master the art of brewing. When we have some spare time on the weekends, we put the giant kettle on the stove, grind some barley and cook for a couple of hours. I'm planning to post on here when something interesting happens in this world.
</p>
<p>
    At the time I'm writing this I unfortunately barely have any spare time, all my evenings and most of the weekend goes into my study. 
    When this time passes in the future I'd like to take up Mountain biking and Reading again.<br><br>
    All the time left, I spend petting our cat Orval Stroganoff.
</p>   