<h1>Mathijs Segers</h1>
<p>
    <img src="http://oneguyandacat.com/img/mathijs.jpg" style="max-width:200px; float:left;" alt="Mathijs Segers, owner of oneguyandacat.com" />
    As far as I'm allowed to say this about myself: I'm a passionate Software Developer who loves experimenting with new languages and is open for mainly anything.
    In recent years I've been getting more into Mobile development. Recently I've also been experimenting with Google Go loving the simplicity and speed it offers.
    <br>
    I prefer to have lots of freedom in my work so I can experiment and develop my own solutions to problems, allthough I do love to work closely in teams, without other people I feel like it's hard to measure your skills. (Get feedback!).
    <br>
    Besides just working, I'm generally (trying to be) a Humorous guy who loves to have a laugh every now and then, which I find important. If you cannot laugh with colleagues and friends you cannot be happy! Whenever I have spare time, me and my Girlfriend like to experiment with beers. This includes the process of creation, as well as consumption. In this particular subject it might be important that I don't care too much about the volume, but more about the taste!
    
</p>