<h1>Contact</h1>
<p>
    If you want to get in touch with me there are multiple possibilities available and I don't want this website to become another entry of possible spam mail.
    So if you really need (or want) to talk to me for whatever reason Look me up at <a href="https://www.linkedin.com/in/oneguyandacat">Linkedin</a>, <a href="http://stackoverflow.com/users/905422/mathijs-segers">Stackoverflow</a> or <a href="https://github.com/msegers/">GitHub</a> where I intend to upload more sample projects in the future.. <br/><br/>
    Otherwise, well social media is also an option.
</p>
